/* TAGS */
body {
  margin: 0;
  background-color: black;
}

/* CLASS */
.top-container {
  background-color: black;
  height: 600px;
  margin: 0;
  display: block;
}
.band-photo {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.jump-container {
  height: 42px;
  width: 100%;
  margin-left: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0), #222831, #222831, rgba(0,0,0,0));
  display: inline-block;
}
.jump-container-text-news {
  font-family: "Cinzel", sans-serif;
  font-size: 150%;
  color: grey;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50%;
}
.news-box {
  margin-top: 0;
  color: grey;
  background-color: black;
  text-align: center;
}
