/* TAGS */
body {
  margin: 0;
  background-color: black;
}

a:link    {color: #b0b0b0;}
a:visited {color: #b0b0b0;}
a:hover   {color: #9b9b9b;}
a:active  {color: #363636;}

/* CLASS */
.top-container {
  background-color: black;
  height: 760px;
  margin: 0;
  display: block;
}
.band-photo {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.jump-container {
  height: 42px;
  width: 100%;
  margin-left: 0;
  /*background-image: linear-gradient(to right, rgba(0,0,0,0), #222831, #222831, rgba(0,0,0,0));*/
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), #595959, #595959, rgba(0,0,0,0), rgba(0,0,0,0));
  text-align: center;
}
.jump-container-text {
  font-family: "Cinzel", serif;
  font-size: 150%;
  color: #b6b6b6;
  margin-top: 7px;
}
.news-box {
  margin-top: 0;
  background-color: black;
}
.live-box {
  margin-top: 0;
  background-color: black;
}
.socialmedia-box {
  margin-top: 0;
  background-color: black;
}
.box-text {
  margin-top: 0;
  color: #b6b6b6;
  font-family: "Gentium Basic", serif;
  text-align: center;
  font-size: 110%;
}
.emblem {
  display: block;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
.footnotes {
  font-family: serif;
  color: white;
  text-align: center;
}
